/* markdown content styles */

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    font-weight: bold;
    line-height: 1.2em;
    padding: 0;
}

.markdown h1 {
    font-size: 2em;
    margin: 0 0 0.444em 0;
}

.markdown h2 {
    font-size: 1.5em;
    margin: 0 0 0.666em 0;
}

.markdown h3 {
    font-size: 1.125em;
    margin: 0 0 0.888em 0;
}

.markdown h4 {
    font-size: 1em;
    margin: 0 0 1em 0;
}

.markdown h5 {
    font-size: 0.875em;
    margin: 0 0 1.1428em 0;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown pre,
.markdown table,
.markdown blockquote {
    padding: 0;
    margin: 0 0 1em 0 !important;
    /* some templates overwrite the margin, so we force with important */
}

.markdown strong {
    font-weight: bold;
}

.markdown em {
    font-style: italic;
}

.markdown a.footnote {
    vertical-align: super;
    font-size: smaller;
}

.markdown ul,
.markdown ol,
.markdown dl {
    padding: 0 0 0 0.5em;
}

.markdown li,
.markdown dd {
    padding: 0;
    margin: 0 0 0 1.5em;
}

.markdown li ul,
.markdown li ol,
.markdown li dl,
.markdown dl ul,
.markdown dl ol,
.markdown dl dl {
    padding: 0;
    margin-bottom: 0 !important;
    /* some templates overwrite the margin, so we force with important */
}

.markdown ul { list-style-type: disc; }
.markdown ul ul { list-style-type: circle; }
.markdown ul ul ul { list-style-type: square; }

.markdown ol { list-style-type: decimal; }
.markdown ol ol { list-style-type: lower-alpha; }
.markdown ol ol ol { list-style-type: upper-roman; }
.markdown ol ol ol ol { list-style-type: upper-alpha; }
.markdown ol ol ol ol ol { list-style-type: lower-roman; }

.markdown blockquote {
    padding: 0 .5em;
    border: solid #ccc;
    border-width: 0 0 0 .25em;
}

.markdown hr {
    border-top: solid #bbb;
    border-bottom: solid #fff;
    border-width: 1px 0;
    height: 0;
    text-align: center;
    clear: both;
}

.markdown table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid #ccc;
}

.markdown thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.markdown tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.markdown tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.markdown th {
    font-weight: bold;
    background-color: #eee;
}

.markdown th,
.markdown td {
    padding: .3em .5em;
    margin: 0;
    vertical-align: top;
    border: 1px solid #ccc;
}

/* code blocks */

.markdown pre {
    overflow: auto;
    word-wrap: normal;
    background-color: #fbfaf9;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 0 .5em #ccc;
    padding: .7em 1em;
}

.markdown code {
    font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
    background-color: #fbfaf9;
    color: #333;
    box-shadow: inset 0 0 .3em #ccc;
    border-radius: 2px;
}

.markdown pre > code {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

/* code blocks syntax highlighting - highlight.js github.com style */

.hljs-comment,
.hljs-quote {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #008080;
}

.hljs-string,
.hljs-doctag {
    color: red;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #900;
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #000080;
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    color: #009926;
}

.hljs-symbol,
.hljs-bullet {
    color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #0086b3;
}

.hljs-meta {
    color: #999;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

/* markdown editor styles */

textarea.markdown {
    font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
}

.wmd-preview  {
    margin: 1em 0;
    display: block;
}

.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 0;
    height: 20px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 10px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background: url("#PLUGIN_PREFIX#wmd-buttons.png") top left no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
